<div class="container" style="display: flex; flex-wrap: wrap; flex-direction: column;">
    <div class="list-card" style="flex: 50%; padding: 20px; display: flex; flex-wrap: wrap;">
    <% if (Video.length != 0) { %>
      <% Video.forEach(e => { %>
        <div class="card" style="width: 20rem; overflow: hidden; margin-left: 15px; margin-top: 15px;">
          <figure>
            <video loop autoplay muted="autoplay"  width="100%" height="200px" class="played" >
                <source src="<%= e.VideoPath %>" type="video/mp4">
            </video>
          </figure>
            <div class="card-body">
              <h5 class="card-title"><a href="/watch/<%= e.Slug %>/<%= e._id %>" style="color: black;"><%= e.Title %></a></h5>
              <p class="card-text"><%= e.username %></p>
              <p class="text-muted">Views: <%= e.Views %></p>        
            </div>
          </div>
      <% }) %>
        <% } else {%>
            <h1>Empty Video</h1>
        <% } %>
    </div>

    <div class="nav-page d-flex justify-content-center ">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <% for( let i = 1; i <=  jmlhhalaman; i++ ) { %>
            <li class="page-item"><a class="page-link" href="/?page=<%= i %>"><%=  i %></a></li>
          <% } %>
        </ul>
      </nav>
    </div>

</div>