<div class="container-new">
    <div class="flex-video">
       <% if (Data) { %>
        <figcaption>
            <video controls autoplay  width="100%" height="500px">
                <source src="<%= Data.VideoPath %>" type="video/mp4">
            </video>
        </figcaption>
        <h1><%= Data.Title %></h1>
        <h3><%= Data.username %></h3>
        <p class="card-text">Views: <%= Data.Views %></p>
        <div class="card" style="width: 100%;">
            <div class="card-body">
              <h6><%= Data.PostDate %></h6>
              <br>
              <p><%= Data.Desc %></p>
            </div>
          </div>
       <% } else {%>
        <h1>404 Not Found</h1>
        <% } %>
    </div>
    <div class="flex-sub">
        <br><br><br>
        <% filterData.forEach(e => { %>
            <div class="card" style="width: 18rem; margin-left: 10px; margin-top: 10px;">
                <img src="<%= e.PosterPath %>" alt="<%= e.Title %>" height="200">
                <div class="card-body">
                  <h5 class="card-title"><a href="/watch/<%= e.Slug %>/<%= e._id %>" style=" color: black;"><%= e.Title %></a></h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><%= e.username %></h6>
                  <p class="card-text"><%= e.Views %></p>
                </div>
              </div>
          <% }) %>
               
      </div>
</div>